body {
    font-family: 'Arial', sans-serif;
    background-color: #393E46;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:#EEEEEE
}

header {
    background-color: #222831;
    color: #EEEEEE;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

a:link {
    color: #00ADB5;
}

a:visited {
    color: #008d94;
}

main {
    padding: 4vh 12vw;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    background-color: #222831;
    color: #EEEEEE;
    padding: 10px;
    text-align: center;
    margin-top: auto;
}

input {
    margin-bottom: 0.5rem;
}

.galerie img {
    width: 30vw;
    padding-bottom: 1rem;
}

